    {% extends "Pokemons/BasePokemon.html.twig"%} 
      {% block contenido %}  
            <div class="container">
                <div class="row">
                    <div class="col text-center"><h2>{{pokemon.nombre}} Nº {{pokemon.codigo}}</h2></div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="{{pokemon.foto}}">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">{{pokemon.descripcion}}</div>
                        </div>
                        <div class="row">
                            <ul>
                               {# DEBILIDADES #}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
           